<h3>Login</h3>
<form>
    <label for="userName"></label>
    <input type="text" name="userName">
    <label for="password"></label>
    <input type="text" name="password">
</form>
<h3>Sign Up</h3>
<form>
    <label for="userName"></label>
    <input type="text" name="userName">
    <label for="password"></label>
    <input type="text" name="password">
</form>
