{{!-- TODO: IF LOGGED IN SHOW SHELF, OTHERWISE SHOW LOGIN --}}
<div class="container">

    <div class="splash">
        <h1 class="title">
            <span class="text-wrapper">
                <span class="line line1"></span>
                <span class="letters letters-left">Book</span>
                <span class="letters symbol">||</span>
                <span class="letters letters-right">Nook</span>
                <span class="line line2"></span>
            </span>
        </h1>
    </div>

    <h2>home</h2>
    <hr />
    <div class="container-sm">
        <div class="container" id="shelf-container">
            <div class="card" style="width: auto;">
                <h5 class="card-title">Your Shelf</h5>
                <div class="container-md" style="flex-box">
                    {{#each books}}
                    <div class="book card-container">
                        <a href="/book/{{this.id}}">{{this.title}}</a>
                    </div>

                    {{/each}}


                    <button type="button" class="my-button btn btn-primary">Add a book</button>
                    <button type="button" class="my-button btn btn-danger">Delete a book</button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="container-sm">
        <div class="container" id="shelf-container">
            <div class="card" style="width: auto;">
                <h5 class="card-title">Future Reads</h5>
                <div class="container-md">
                    <button type="button" class="btn btn-primary">Add a book</button>
                    <button type="button" class="btn btn-danger">Delete a book</button>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>