<div class="container">
    <div class="card bg-light" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{author}}</h6>
    <h7 class="card-subtitle mb-2 text-muted">{{isbn}}</h6>
    <h7 class="card-subtitle mb-2 text-muted">{{pages}}</h6>
  </div>
</div>
</div>