{{!-- LOGIN HANDLING --}}
<div class="container">
    <div class="container">
        <form class="w-50 login-form">
            <h3>Login</h3>
            <div class="mb-3">
                <label for="loginUsername" class="form-label">Email</label>
                <input type="text" id='loginEmail' class="form-control">
            </div>
            <div class="mb-3">
                <label for="loginPassword" class="form-label">Password</label>
                <input type="password" id='loginPassword' class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <hr />

    {{!-- SIGNUP HANDLING --}}
    <div class="container">
        <form class="w-50 signup-form">
            <h3>Signup</h3>
            <div class="mb-3">
                <label for="signupUsername" class="form-label">Username</label>
                <input type="text" id='signupUsername' class="form-control">
            </div>
            <div class="mb-3">
                <label for="signupEmail" class="form-label">Email</label>
                <input type="email" id='signupEmail' class="form-control">
            </div>
            <div class="mb-3">
                <label for="signupPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id='signupPassword'>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script src='js/login.js'></script>