<h2>Login</h2>
<form id="login">
    <label for="username">Username:</label>
    <input type="text" name="username" id="loginUsername">
    <label for="password">Password:</label>
    <input type="text" name="password" id="loginPassword">
    <button type="submit">login</button>
</form>

<h2>Sign Up</h2>
<form id="signUp">
    <label for="username">Username:</label>
    <input type="text" name="username" id="usernameInput">
    <label for="password">Password:</label>
    <input type="text" name="password" id="passwordInput">
    <button type="submit" id="submitButton">signup</button>
</form>