<div class="container">
    <hr/>
    <h4>{{title}}</h4>
    <hr/>
    <h5>
        <strong>
            New Review
        </strong>
    </h5>
    <form id="newReviewSubmit">
        <div class="form-group">
            <label for="newReviewTitle">Review Title</label>
            <input type="email" class="form-control" id="newReviewTitle" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="newReviewTitle">Review Contents</label>
            <input type="text" class="form-control form-control-lg" id="newReviewContents">
        </div>
        <button type="submit" class="btn btn-primary" id="newReviewContents">Submit</button>
    </form>
</div>
